/**
 * Use this file for your own custom project-specific variables.
 * You can also use this file to override the default values for infinite preset variables.
 *
 * Example:
 * $header-height-desktop: 60px;
 * $page-width: 1400px;
 */

$color-primary: #31b3e7;
$color-secondary: #fff;
$color-blue-1: #41B6E6;
$font-primary: 'Big Shoulders Display', cursive;
$button-border-radius: 50px;
