/**
 * Use this file for your own custom project-specific variables.
 * You can also use this file to override the default values for infinite preset variables.
 *
 * Example:
 * $header-height-desktop: 60px;
 * $page-width: 1400px;
 */

$header-height-mobile: 110px;

$font-primary: 'Comfortaa', cursive;
$font-secondary: 'Open Sans', sans-serif;

$button-border-radius: 23px;

$color-primary-1: #3cb4e5;
$color-primary-2: #3f96b4;
$color-primary-3: #001722;
$color-primary-4: #423e45;
$color-secondary-1: #fff;
$color-secondary-2: #15bef0;
$color-secondary-3: #2b93d1;
$color-secondary-4: #76a4d7;
$color-secondary-5: #f89840;
$color-secondary-6: #fd5;
$color-secondary-7: #00aca0;
$color-secondary-8: #9aca3c;
$color-secondary-9: #7f58a5;
$color-secondary-10: #ee3d8b;
$color-secondary-11: #f04937;

$color-light-gray-alt-3: #aaa;
$color-light-gray-alt-2: rgba(0, 0, 0, 0.06);
$color-light-gray-alt-1: rgba(0, 0, 0, 0.025);
$color-light-gray: rgba(0, 0, 0, 0.2);
$color-gray: rgba(0, 0, 0, 0.7);
$color-muted-gray: #464646;
$color-red: #de3637;

$link-color-hover: #dedede;

// Below are the old variables that will be phased out
$color-primary: #31b3e7;
$color-secondary: #fff;
$color-blue-1: #41b6e6;
