/**
 * Use this file for your own custom project-specific variables.
 * You can also use this file to override the default values for infinite preset variables.
 *
 * Example:
 * $header-height-desktop: 60px;
 * $page-width: 1400px;
 */

$font-primary: 'Comfortaa', cursive;
$font-secondary: 'Open Sans', sans-serif;

$button-border-radius: 23px;

$color-primary-1: #3cb4e5;
$color-primary-2: #3f96b4;
$color-secondary-1: #fff;
$color-light-gray: rgba(0, 0, 0, 0.2);
$color-gray: rgba(0, 0, 0, 0.7);

// Below are the old variables that will be phased out
$color-primary: #31b3e7;
$color-secondary: #fff;
$color-blue-1: #41b6e6;
