.Modal {
  padding-top: 100px !important;

  &__close {
    top: -22px;
    right: -22px;
    border-radius: 100%;

    @include media-query($mobile) {
      top: -14px;
      right: -14px;
      width: 36px;
      height: 35px;
    }

    .CloseIcon {
      @include media-query($mobile) {
        top: 8px;
        left: 8px;
        width: 20px;
      }
    }
  }

  &__content {
    padding: 80px;
    text-align: center;

    @include media-query($mobile) {
      padding: 60px $grid-gutter $grid-gutter * 2;
    }
  }

  .Button {
    margin: 0 4px 15px;
  }
}
