.Upsell {
  @include transition(opacity);

  opacity: 0;
  background: #f6f6f6;
  padding: 40px 0;

  &--loaded {
    opacity: 1;
  }

  &__heading {
    text-align: center;
    text-transform: uppercase;
  }

  &__products {
    padding: 0 80px;

    @include media-query($small) {
      padding: 0 40px;
    }

    .ProductTile {
      background-color: transparent;
      padding: 0;
      width: 100%;
    }

    .ProductTile__image {
      padding: 0;
    }
  }

  .QuickView__button {
    display: none;
  }

  .flickity-prev-next-button {
    transform: translateY(-50%) scale(0.75);
  }
}
