@import '~@INF/styles';

.Question3.Quiz__slide {
  // CSS
  &.Radio--longtext .Radio label::after {
    top: -25px;
    height: 75px;
  }

  .Quiz__heading {
    margin-bottom: 50px;
  }

  .Radio__text-input {
    left: 120px;
  }
}
