@import '~@INF/styles';

.Question14 {
  margin: 0 auto;
  max-width: 750px;

  > div {
    font-size: 0;

    @include media-query($mobile) {
      margin-right: -20px;
    }

    .ExtraQuestion {
      p {
        margin-top: -10px;
        margin-left: 5%;
        width: 25%;
      }

      .Radio__group {
        margin-top: -10px;
      }
    }
  }

  p {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: left;
  }

  .Radio__group {
    display: inline-block;
    margin: 20px 0;
    width: 70%;
    vertical-align: middle;

    .Radio {
      display: inline-block;
      margin-right: 10px;
      padding: 20px;
      padding-left: 50px;

      @include media-query($mobile) {
        margin-top: 10px;
      }

      input {
        &:checked + label::after {
          display: none;
        }
      }
    }
  }
}
