@import '~@INF/styles';
@import '../../../styles/variables.scss';

.Quiz {
  --input-height: 60px;

  min-height: calc(100vh - 130px);

  @include media-query($mobile) {
    min-height: auto;
  }

  &__heading {
    margin: 0 auto;

    // max-width: 750px;

    letter-spacing: -0.5px;

    br {
      @include media-query($mobile) {
        display: none;
      }
    }
  }

  &__preheading {
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    color: $color-blue-1;
  }

  &__body-text {
    margin: 25px auto 40px;
    max-width: 650px;
  }

  &__disclaimer {
    margin: 40px auto 0;
    max-width: 650px;

    p {
      color: $color-gray;
      font-style: italic;
    }
  }

  &__form {
    margin: 0 auto;

    @include media-query($mobile) {
      min-height: calc(100vh - 130px);
    }

    .Form__body {
      max-height: 10000px !important;
      overflow: visible;
    }
  }

  &__slide {
    position: relative;

    @include media-query($mobile) {
      height: calc(100vh - 135px);
    }

    .Quiz__heading {
      margin-bottom: 30px;
    }

    .Button {
      margin: 0 20px;

      @include media-query($mobile) {
        margin: 0 3%;
        min-width: 40%;
      }

      &.Quiz__startButton {
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }

    button:disabled {
      opacity: 0.5;
    }

    .Radio {
      margin: 0 20px;
      width: 150px;
      min-height: 150px;
      line-height: 150px;

      @include media-query($mobile) {
        margin: 10px auto;
        width: 140px;
        min-height: 140px;
        line-height: 140px;
      }

      &--inline label {
        @include media-query($mobile) {
          margin-right: 0;
        }
      }

      &__group {
        margin: 40px 0;

        .Radio {
          @include media-query($mobile) {
            margin: 2%;
          }
        }
      }

      &:last-child label {
        margin-right: 30px;

        @include media-query($mobile) {
          margin-right: 0;
        }
      }

      input {
        &:checked + label {
          color: #fff;
        }

        &:checked + label::before {
          z-index: -1;

          // background-color: #50b0bd;

          background-color: $color-blue-1;
        }
      }

      label {
        padding-left: 0;
        width: 95px;
        color: #231f20;

        &::before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-color: $color-blue-1 !important;
          width: 150px;
          height: 150px;

          @include media-query($mobile) {
            width: 140px;
            height: 140px;
          }
        }

        &::after {
          display: none;
        }
      }
    }

    &.Radio--longtext .Radio,
    &.Radio--longtext .Checkbox {
      display: flex;
      position: relative;
      align-items: center;
      margin: 0;
      background-color: #fff;

      // padding: 25px 25px 18px 60px;

      width: auto;
      min-height: initial;
      text-align: left;
      line-height: initial;

      input {
        &:checked + label {
          color: initial;
        }

        &:checked + label::before {
          z-index: initial;

          // background-color: #50b0bd;

          background-color: $color-blue-1;
          padding-top: 2px;
          color: #fff;
          font-family: 'Font Awesome 5 Pro';
          font-size: 18px;
          font-weight: 400;
          content: '\f00c';
        }

        &:checked + label::after {
          border-color: $color-blue-1;
        }
      }

      label {
        margin-bottom: 30px;
        border-bottom: 2px solid transparent;
        padding-bottom: 0;
        padding-left: 60px;
        width: 100%;
        text-align: left;

        &::before {
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          border-radius: 50%;

          // border-color: #50b0bd;

          border-color: $color-blue-1;
          width: 30px;
          height: 30px;
          text-align: center;
        }

        &::after {
          display: block;
          top: -20px;
          transform: initial;
          border: 2px solid $color-light-gray;
          border-radius: 8px;
          background: transparent;
          width: 100%;
          height: 60px;
        }
      }
    }

    .Radio--longtext .Checkbox {
      input {
        &:checked + label::before {
          padding-top: 5px;
        }
      }
    }

    .Grid {
      margin-bottom: 0;

      &--mobile-3 {
        .Radio {
          @include grid-item(3, $mobile);
        }
      }

      .Radio,
      .Radio:last-child {
        label {
          margin-right: 0;
        }
      }

      @include media-query($mobile) {
        .Radio:last-child:nth-child(odd) {
          grid-column: span 6;
        }
      }
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 880px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .Overlay__content {
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }

  .noHover {
    pointer-events: none;
  }

  .Select {
    &--legacy {
      .Select__label {
        display: none;
      }

      .Select__field {
        // border: 2px solid #318185;

        border: 2px solid $color-blue-1;
        border-radius: 30px;
        background-color: #fff;
      }
    }
  }

  .Input {
    &--legacy {
      margin: 0 auto;
      max-width: 270px;

      .Input__label {
        display: none;
      }

      .Input__field {
        border: 2px solid $color-light-gray;
        border-radius: 8px;
        background-color: #fff;
        text-align: center;
      }
    }
  }

  .Overlay__placeholder {
    position: relative;
    opacity: 0;
    z-index: -1;
    pointer-events: none;

    @include media-query($mobile) {
      .Section__container {
        padding: 0;
      }
    }
  }

  .Form__submit-group .Button:not(:last-child) {
    margin-bottom: 0;
  }
}


.Input__errors,
.Select__errors {
  // position: absolute;
}


.fade-enter-active,
.fade-leave-active,
.fade2-enter-active,
.fade2-leave-active {
  transition: opacity 0.25s ease-out;
  transition-delay: 0.26s;
}

.fade-enter,
.fade-leave-to,
.fade2-enter,
.fade2-leave-to {
  transition: opacity 0.25s ease-out;
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-enter {
  transform: translateY(-10px);
  opacity: 1;
}

.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

