<div class="ChangePassword">
  <h2 class="Modal__heading" role="heading" aria-level="1">{% include 'INF-translation', translate: 'customer.reset_password.change', default: 'Change Password' %}</h2>
  <p>{% include 'INF-translation', translate: 'customer.reset_password.details', default: "Need to change your password? We'll send you an email with further instructions." %}</p>

  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}
    <input type="hidden" name="email" value="{{ customer.email }}">
    <input type="submit" class="Button" value="{% include 'INF-translation', translate: 'customer.reset_password.request', default: 'Request Password Change' %}">
  {% endform %}
</div>