{%- comment -%}This is just a recommended starting point...customize away!{%- endcomment -%}

<div class="MobileMenu__top">
  <ul class="MobileMenu__buttons">
    <li class="MobileMenu__button Button" tabindex="0" role="link">
      <i aria-hidden="true" class="MobileMenu__icon-left {{ settings.fa }} fa-user"></i> Login <i aria-hidden="true" class="MobileMenu__icon-right {{ settings.fa }} fa-chevron-right"></i>
    </li>
    <li class="MobileMenu__button MobileMenu__button--special Button" tabindex="0" role="button">
      <i aria-hidden="true" class="MobileMenu__icon-left {{ settings.fa }} fa-map-marker-alt"></i> USA + Global <i aria-hidden="true" class="MobileMenu__icon-right {{ settings.fa }} fa-chevron-right"></i>
    </li>
  </ul>
</div>