{%- comment -%}This is just a placeholder...build your real menu here.{%- endcomment -%}
<div class="PreHeader__menu">
  US + Global <i aria-hidden="true" class="{{ settings.fa }} fa-angle-down"></i>
</div>