{% comment %} By default, this is just the continue shopping button...but feel free to add whatever you want like terms and conditions, payment icons, etc. {% endcomment %}

<div class="SliderCart__bottom">  
  <div class="SliderCart__button Button Button--secondary" tabindex="0" role="button" data-cart-toggle>{% include 'INF-translation', translate: 'cart.general.continue', default: 'Continue Shopping' %}</div>
</div>