.AccountLogin {
  .Input--material-filled .Input__control {
    border-radius: 30px;
  }

  .Anchor {
    display: inline-block;
    min-width: 170px;
    text-align: center;
    color: $color-primary-1;

    &:hover {
      color: $color-primary-2;
    }
  }
}

.AccountRegister {
  .Input--material-filled .Input__control {
    border-radius: 30px;
  }

  .Anchor {
    color: $color-primary-1;

    &:hover {
      color: $color-primary-2;
    }
  }
}

.MyOrders {
  .Order__details {
    font-size: 14px;

    p {
      font-size: 14px;
    }

    &__heading {
      font-size: 16px;
    }
  }
}