.template-index {
  #section1590711776325 {
    .ContentBlock {
      &__preheading {
        color: #5a6b80;
      }

      &__heading {
        color: #020e2b;
      }
    }
  }

  #section1591256997016 {
    .Section {
      &__heading {
        color: #020e2b;
      }

      &__subheading {
        margin-bottom: 70px;
        text-align: center;
        color: #5a6b80;
      }
    }

    .Pod {
      &__image {
        img {
          margin: 0 auto;
          margin-bottom: 30px;
          width: auto;
          max-height: 100px;
        }
      }

      &__heading {
        // color: #006468;
        color: $color-blue-1;
      }

      &__sub-heading {
        margin-top: 20px;
        color: #5a6b80;
      }
    }
  }

  #Pod1591256997016-0 {
    position: relative;

    .Pod {
      &__heading {
        position: relative;

        &--eyebrow {
          font-size: 16px;
          position: absolute;
          top: -180px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    @include media-query($mobile) {
      padding-bottom: 50px !important;
    }

    &::before {
      content: '';
      display: inline-block;
      border-right: 2px solid #41B6E6;
      height: calc(100% + 30px);
      position: absolute;
      top: -30px;
      right: -9px;

      @include media-query($mobile) {
        height: 0;
        width: 100%;
        top: unset;
        right: unset;
        bottom: 60px;
        border-right: none;
        border-bottom: 2px solid #41B6E6;
      }
    }
  }

  #Pod1591256997016-1 {
    .Pod {
      &__heading {
        position: relative;

        &--eyebrow {
          font-size: 16px;
          white-space: nowrap;
          position: absolute;
          top: -180px;
          left: 70%;

          @include media-query($mobile) {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  .ContentArea__content {
    .Section__container {
      padding: 0;
    }

    .ContentBlock__text .ContentBlock__wrapper {
      @include media-query($mobile) {
        padding: 0 20px;
      }

      @include media-query($tablet) {
        padding: 0 0 20px 20px;
      }
    }

    .ContentBlock--right .ContentBlock__image {
      @include media-query($mobile) {
        grid-row-start: initial;
      }
    }
  }

  &.template-index--B {
    #Pod1591256997016-0 {
      &::before {
        content: none;
      }
    }
  }
}

.hide {
  display: none;
}
