.template-index {
  #section1590711776325 {
    .ContentBlock {
      &__preheading {
        color: #5a6b80;
      }

      &__heading {
        color: #020e2b;
      }
    }
  }

  #section1591256997016 {
    .Section {
      &__heading {
        color: #020e2b;
      }

      &__subheading {
        margin-bottom: 70px;
        text-align: center;
        color: #5a6b80;
      }
    }

    .Pod {
      &__image {
        img {
          margin: 0 auto;
          margin-bottom: 30px;
          width: auto;
          max-height: 100px;
        }
      }

      &__heading {
        // color: #006468;
        color: $color-blue-1;
      }

      &__sub-heading {
        margin-top: 20px;
        color: #5a6b80;
      }
    }
  }

  #section1599156390627 {
    .Section__heading {
      line-height: 1.2;
    }
  }

  #Pod1591256997016-0 {
    position: relative;

    .Pod {
      &__heading {
        position: relative;

        &--eyebrow {
          position: absolute;
          top: -180px;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 23px;
          font-weight: bold;
        }
      }
    }

    @include media-query($mobile) {
      padding-bottom: 60px !important;
    }
  }

  #Pod1591256997016-1 {
    .Pod {
      &__heading {
        position: relative;

        &--eyebrow {
          position: absolute;
          top: -180px;
          left: 0;
          width: calc(200% + 20px);
          text-align: center;
          font-size: 23px;
          font-weight: bold;

          @include media-query($mobile) {
            width: 100%;
          }
        }
      }
    }
  }

  #section1597697382997 {
    display: none;
  }

  // .ContentArea__content {
  //   .Section__container {
  //     padding: 0;
  //   }

  //   .ContentBlock__text .ContentBlock__wrapper {
  //     @include media-query($mobile) {
  //       padding: 0 20px;
  //     }

  //     @include media-query($tablet) {
  //       padding: 0 0 20px 20px;
  //     }
  //   }

  //   .ContentBlock--right .ContentBlock__image {
  //     @include media-query($mobile) {
  //       grid-row-start: initial;
  //     }
  //   }
  // }

  &.template-index--B {
    #Pod1591256997016-0 {

      &::before {
        content: '';
        display: inline-block;
        border-right: 2px solid #41B6E6;
        height: calc(100% + 30px);
        position: absolute;
        top: -30px;
        right: -9px;
  
        @include media-query($mobile) {
          height: 0;
          width: 100%;
          top: unset;
          right: unset;
          bottom: 40px;
          border-right: none;
          border-bottom: 2px solid #41B6E6;
        }
      }
    }

    #section1597697382997 {
      display: block;
    }
  }
}

.hide {
  display: none;
}

.mobile-only {
  @include mobile-only;
}