@import '~@INF/styles';

.Question17 {
  margin: 0 auto;
  max-width: 750px;

  .Quiz__content {
    padding-bottom: 150px;
  }

  ul {
    margin: 0 auto;
    width: 70%;
    text-align: left;

    @include media-query($mobile) {
      width: 100%;
    }
  }

  .Slider {
    position: relative;
    margin-top: 70px;
    font-size: 0;

    @include media-query($mobile) {
      margin: 70px -10px 0;
    }

    &::before {
      position: absolute;
      left: 10%;
      transform: translateY(-50%);
      z-index: 0;
      background: #b0bac6;
      width: 80%;
      height: 2px;
      content: '';

      @include media-query($mobile) {
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
      }
    }

    .Radio:first-child {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: -40px;
          left: 73%;
          transform: translateX(-49%);
          width: 95px;

          &::before {
            top: 80px;
            left: 37%;
          }

          &::after {
            top: 72px;
            left: 37%;
          }
        }
      }
    }

    .Radio:nth-child(2) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: 70px;
          left: 50%;
          transform: translateX(-50%);
          width: 95px;

          &::before {
            top: -30px;
          }

          &::after {
            top: -38px;
          }
        }
      }
    }

    .Radio:nth-child(3) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: 0;
          left: -10px;
          width: 95px;

          &::before {
            top: 40px;
          }

          &::after {
            top: 32px;
          }
        }
      }
    }

    .Radio:nth-child(4) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: 70px;
          left: -10px;
          width: 95px;

          &::before {
            top: -30px;
          }

          &::after {
            top: -38px;
          }
        }
      }
    }

    .Radio:nth-child(5) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: -20px;
          left: 26%;
          transform: translateX(-51%);
          width: 95px;

          &::before {
            top: 60px;
            left: 64%;
          }

          &::after {
            top: 52px;
            left: 64%;
          }
        }
      }
    }
  }

  .Radio {
    margin: 0;
    width: 20%;
    min-height: 90px;
    line-height: 90px;

    label {
      border: 2px solid  transparent;
      padding: 5px;
      width: 95%;
      height: 50px;

      &::before {
        top: -27px;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
        background: #b0bac6;
        width: 10px;
        height: 10px;
      }

      &::after {
        z-index: 1;
      }
    }

    input {
      &:checked + label {
        color: initial;
      }

      &:checked + label::before {
        z-index: 2;
        background: #fff;
      }

      &:checked + label::after {
        display: block;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: #006468;
        width: 26px;
        height: 26px;
      }

      &:focus + label {
        border-color: var(--checkbox-background);
      }
    }
  }
}
