@import '~@INF/styles';

.Question12 {
  margin: 0 auto;
  max-width: 750px;

  .Quiz__content {
    top: 41%;
    padding-bottom: 0;
    height: auto;
    overflow: visible;
  }

  .Slider {
    position: relative;
    margin-top: 70px;
    font-size: 0;

    @include media-query($mobile) {
      margin: 70px -20px 0;
    }

    &::before {
      position: absolute;
      left: 12%;
      transform: translateY(-50%);
      z-index: 0;
      background: #b0bac6;
      width: 75%;
      height: 2px;
      content: '';

      @include media-query($mobile) {
        top: 35px;
        left: 8%;
        width: 80%;
      }
    }

    .Radio:first-child {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: -20px;
          left: 0;

          &::before {
            top: 50px;
            left: 33%;
          }

          &::after {
            top: 43px;
            left: 33%;
          }
        }
      }
    }

    .Radio:nth-child(2) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: 70px;
          left: -10px;

          &::before {
            top: -40px;
            left: 45%;
          }

          &::after {
            top: -47px;
            left: 45%;
          }
        }
      }
    }

    .Radio:nth-child(3) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: -20px;
          left: -5px;

          &::before {
            top: 50px;
            left: 45%;
          }

          &::after {
            top: 43px;
            left: 45%;
          }
        }
      }
    }

    .Radio:nth-child(4) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: 70px;
          left: -12px;

          &::before {
            top: -40px;
            left: 60%;
          }

          &::after {
            top: -47px;
            left: 60%;
          }
        }
      }
    }
  }

  .Radio {
    margin: 0;
    width: 25%;
    min-height: 70px;
    line-height: 70px;

    label {
      width: 95%;

      @include media-query($mobile) {
        width: 100%;
      }

      &::before {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
        background: #b0bac6;
        width: 10px;
        height: 10px;
      }

      &::after {
        z-index: 1;
      }
    }

    input {
      &:checked + label {
        color: initial;
      }

      &:checked + label::before {
        z-index: 2;
        background: #fff;
      }

      &:checked + label::after {
        display: block;
        top: -38px;
        left: 50%;
        transform: translateX(-50%);
        background: #006468;
        width: 26px;
        height: 26px;
      }

      &:focus + label {
        border: 2px solid var(--checkbox-background);
      }
    }
  }
}
