@import '~@INF/styles';

.Question13 {
  margin: 0 auto;
  max-width: 750px;



  .Grid {
    position: relative;

    & > .Input {
      position: absolute;
      bottom: 30px;
      left: 15%;
      border: 0;
      border-radius: 0;
      background: #fff;
      width: 30%;

      .Input__field {
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0;
        height: 38px;
        text-align: left;
        font-size: 16px;
      }

      .Input__errors {
        position: absolute;
      }

      @include media-query($mobile) {
        top: 395px;
        left: 40%;
        transform: translateY(-50%);
        width: 50%;
        height: 40px;
      }
    }

    .Radio:nth-child(5) {
      input {
        &:checked + label::after {
          top: -35px;
          height: 90px;
        }
      }
    }

    .Radio:nth-child(7) {
      input {
        &:checked + label::after {
          top: -25px;
          height: 90px;
        }
      }
    }

    .Radio:last-child:nth-child(odd) {
      @include media-query($mobile) {
        grid-column: span 2;
      }
    }
  }
}
