@import '~@INF/styles';
@import '../../../styles/variables.scss';

.QuizTemp[class~='QuizTemp'] {
  grid-column: span 2;
  border-radius: 8px;
  background: $color-light-gray-alt-1;

  .Slider {
    position: relative;
    margin-top: 70px;
    font-size: 0;

    @include media-query($mobile) {
      margin-top: 35px;
    }

    &::before {
      position: absolute;
      left: 17%;
      transform: translateY(-50%);
      z-index: 0;
      background: #b0bac6;
      width: 66%;
      height: 2px;
      content: '';

      @include media-query($mobile) {
        left: 7%;
        width: 86%;
      }
    }

    .Radio:first-child {
      position: relative;
    }

    .Radio:nth-child(2) {
      position: relative;
    }

    .Radio:nth-child(3) {
      position: relative;
    }
  }

  .Radio {
    margin: 0;
    width: 33%;
    min-height: 70px;
    line-height: 70px;

    @include media-query($mobile) {
      &:first-of-type {
        label {
          padding-left: 12px;
          text-align: left;
        }

        label::before {
          left: 20px;
          transform: none;
        }

        label::after {
          left: 12px;
          transform: none;
        }
      }

      &:last-of-type {
        label {
          padding-right: 12px;
          text-align: right;
        }

        label::before {
          right: 20px;
          left: auto;
          transform: none;
        }

        label::after {
          right: 12px;
          left: auto;
          transform: none;
        }
      }
    }


    label {
      width: 95%;

      @include media-query($mobile) {
        width: 100%;
        font-size: 12px;
      }

      &::before {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
        background: white;
        width: 10px;
        height: 10px;
      }

      &::after {
        display: block;
        top: -38px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        border: 2px solid $color-light-gray;
        background: white;
        width: 26px;
        height: 26px;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 50%;
        content: ' ';
        pointer-events: all;
      }

      &:checked + label {
        color: $color-primary-1;
      }

      &:checked + label::before {
        z-index: 4;
        background: #fff;
      }

      &:checked + label::after {
        border-color: $color-blue-1;
        background: $color-blue-1;
      }

      .State--visibleFocus &:focus + label::after {
        outline: 5px solid blue !important;
      }
    }
  }

  p {
    color: $color-primary-1;
  }
}
