@import '~@INF/styles';
@import '../../../styles/variables.scss';

.QuizTemp[class~='QuizTemp'] {
  &.QuizTemp--mobile {
    display: none;

    @include media-query($mobile) {
      display: block;
    }
  }

  &.QuizTemp--desktop {
    grid-column: span 2;
  }

  .Slider {
    position: relative;
    margin-top: 70px;
    font-size: 0;

    @include media-query($mobile) {
      margin: 70px -20px 0;
    }

    &::before {
      position: absolute;
      left: 17%;
      transform: translateY(-50%);
      z-index: 0;
      background: #b0bac6;
      width: 66%;
      height: 2px;
      content: '';

      @include media-query($mobile) {
        top: 35px;
        left: 8%;
        width: 80%;
      }
    }

    .Radio:first-child {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: -20px;
          left: 0;

          &::before {
            top: 50px;
            left: 33%;
          }

          &::after {
            top: 42px;
            left: 33%;
          }
        }
      }
    }

    .Radio:nth-child(2) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: 70px;
          left: -10px;

          &::before {
            top: -40px;
            left: 45%;
          }

          &::after {
            top: -48px;
            left: 45%;
          }
        }
      }
    }

    .Radio:nth-child(3) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: -20px;
          left: -5px;

          &::before {
            top: 50px;
            left: 45%;
          }

          &::after {
            top: 42px;
            left: 45%;
          }
        }
      }
    }

    .Radio:nth-child(4) {
      position: relative;

      @include media-query($mobile) {
        label {
          position: absolute;
          top: 70px;
          left: -12px;

          &::before {
            top: -40px;
            left: 60%;
          }

          &::after {
            top: -48px;
            left: 60%;
          }
        }
      }
    }
  }

  .Radio {
    margin: 0;
    width: 33%;
    min-height: 70px;
    line-height: 70px;

    label {
      width: 95%;

      @include media-query($mobile) {
        width: 100%;
      }

      &::before {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
        background: white;
        width: 10px;
        height: 10px;
      }

      &::after {
        display: block;
        top: -38px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        border: 2px solid $color-light-gray;
        background: white;
        width: 26px;
        height: 26px;
      }
    }

    input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 50%;
        content: ' ';
        pointer-events: all;
      }

      &:checked + label {
        color: initial;
      }

      &:checked + label::before {
        z-index: 4;
        background: #fff;
      }

      &:checked + label::after {
        border-color: $color-blue-1;
        background: $color-blue-1;
      }
    }
  }
}
