.Banner {
  &--custom {
    .Banner {
      &__content {
        display: flex;
        top: 0;
        align-items: center;
        transform: none;
        margin: 0;
        border-top-right-radius: 250px;
        border-bottom-right-radius: 250px;
        width: 60%;
        max-width: unset;
        height: 100%;

        // @include gradient(135deg, $color-secondary-3, $color-secondary-4);

        @include media-query($mobile) {
          display: block;
          position: static;
          border-radius: unset;
          padding: 30px 20px 45px;
          width: 100%;
          height: auto;
          text-align: left;
        }
      }

      &__description {
        p:first-child {
          margin-top: 1em;
        }
      }

      &__image {
        &--mobile {
          position: static;
        }
      }

      &__placeholder {
        @include media-query($mobile) {
          display: none;
        }
      }
    }

    .Section {
      &__container {
        margin: 0 0 0 auto;
        padding-right: 110px;
        max-width: 650px;

        @include media-query($mobile) {
          margin: 0;
          padding-right: 0;
          max-width: unset;
        }
      }
    }

    .AnnouncementsBarPlaceholder {
      display: none;
    }
  }
}
