.Footer {
  &__bottom {
    margin-top: 0;
    margin-left: 20px;
    padding-top: 0;
    text-align: left;

    @include media-query($mobile) {
      text-align: center;
    }
  }

  &__copyright {
    margin-bottom: 20px;

    @include media-query($mobile) {
      margin: 15px 0;
    }
  }
}
