.Footer {
  // border-top: 1px solid #ffffff;

  &__wrapper {
    @include grid(12, 0, 0) {
      .Footer__content {
        @include grid-item(8);
      }
      .Footer__action {
        @include grid-item(4);
        @include grid-item(12, $mobile, $start: 1);
      }
    }
  }

  &__content {

    @include media-query($mobile) {
      max-width: 400px;
      margin: 0 auto;
    }

    &-wrapper {
      display: flex;
      max-width: 835px;
      margin-left: auto;
      padding-top: 50px;
      padding-left: 20px;

      // padding-right: 20px;

      @include media-query($mobile) {
        padding-top: 20px;
      }
    }
  }

  &__action {
    background-color: $color-primary-3;

    @include media-query($mobile) {
      text-align: center;
    }

    &-wrapper {
      max-width: 345px;
      padding-top: 80px;
      padding-left: 50px;
      padding-right: 20px;

      @include media-query($mobile) {
        padding-top: 20px;
        max-width: unset;
        padding-left: 20px;
      }
    }
  }

  &__image {
    display: inline-block;
    margin-right: 35px;
    // @include media-query($mobile) {
    //   display: none;
    // }

    img {
      max-width: 60px;
    }
  }

  &__middle-container {
    display: flex;
    margin-top: 20px;

    @media only screen and (max-width: 1140px) {
      flex-wrap: wrap;
    }
  }

  &__text-wrapper {
    margin-right: 55px;
  }

  &__social-wrapper {
    @media only screen and (max-width: 1140px) {
      flex: 0 0 100%;
      order: -1;
    }
  }

  &__top {
    align-items: center;

    // @include grid() {
    //   .Footer__image {
    //     @include grid-item(2);
    //   }

    //   .Footer__nav {
    //     @include grid-item(10);
    //   }
    // }
  }

  &__nav {
    // @include grid(12, 0, 0);
    // padding-top: 10px;

    // &-list {
    //   @include grid-item(6);
    //   @include grid-item(6, $mobile);
    // }
    display: block;
  }
  
  &__menu {
    text-align: left;
    
    @include media-query($mobile) {
      padding-left: 5px;
    }
  }

  &__title {
    // font-family: 'Barlow Condensed', sans-serif !important;
    letter-spacing: 0.02em;
  }

  &__link {
    // margin-bottom: 8px;
    display: inline-block;
    padding: 0 7px 0 10px;
    border-left: 1px solid $color-secondary-1;
    line-height: 1;

    &:first-of-type {
      padding-left: 0;
      border-left: none;
    }
  }

  &__bottom {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 10px;
    border: none;

    @include media-query($mobile) {
      // margin-top: 35px;
    }
  }

  &__copyright {
    text-align: left;
    color: $color-secondary-1;
    // font-weight: 600;
  }

  &__social {
    // display: flex;
    // justify-content: space-around;

    // @include media-query($mobile) {
    //   justify-content: space-evenly;
    // }

    &-wrapper {
      // display: flex;
      // justify-content: space-between;
      // align-items: baseline;
      // margin-top: 5px;

      @include media-query($mobile) {
        display: block;
        max-width: 400px;
        margin: 0 auto 15px;
      }
    }

    &-heading {
      // font-family: $font-family-1;
      font-size: 16px;
      font-weight: 700;
      color: $color-secondary-1;

      @include media-query($mobile) {
        display: none;
      }
    }

    &-icon {
      width: 32px;
      height: 32px;
      line-height: 32px;
      border-radius: 50%;
      background-color: $color-primary-4;
      padding: 0;
    }
  }

  .Newsletter {
    color: #ffffff;

    &__form-wrapper {
      padding: 0;
      margin: 20px auto;
    }

    &__heading {
      // font-family: $font-family-1;

      // font-size: 24px;
      font-size: 18px;

      @include media-query($mobile) {
        font-size: 22px;
        line-height: 1.2;
      }
    }

    &__description {
      margin: 3px 0 10px;
    }

    &__success {
      font-size: 13px;
    }
  }

  .Form {
    font-size: 0;
    letter-spacing: 0;
    text-align: left;

    &__input-group {
      display: inline-block;

      // border: 1px solid #95ae98;
      // border-right: none;
      font-size: 12px; 
      margin: 0;
      vertical-align: top;
      width: calc(100% - 100px);

      @include media-query($mobile) {
        // display: block;
        // width: 100%;
        // margin-top: 15px;
        // margin-bottom: 5px;
      }
    }

    &__input {
      // background-color: $color-green-3;
      border-radius: 0;

      // border: 1px solid #95ae98;
      // border-right: none;
      // color: $color-primary-3;
      // font-size: 18px;
      // font-family: $font-family-2;

      // @include media-query($mobile) {
      //   // border-right: 1px solid #95ae98;
      //   text-align: center;
      // }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        // color: $color-tertiary-6;
        // font-family: $font-family-2;
        opacity: 1; /* Firefox */
        font-size: 16px;
        line-height: 1.5em;
        text-align: left;

        // @include media-query($mobile) {
        //   text-align: center;
        // }
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        // color: $color-tertiary-6;
        // font-family: $font-family-2;
        font-size: 16px;
        line-height: 1.5em;
        text-align: left;

        // @include media-query($mobile) {
        //   text-align: center;
        // }
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        // color: $color-tertiary-6;
        // font-family: $font-family-2;
        font-size: 16px;
        line-height: 1.5em;
        text-align: left;

        // @include media-query($mobile) {
        //   text-align: center;
        // }
      }
    }

    &__submit-group {
      display: inline-block;
      margin: 0;

      // @include media-query($mobile) {
      //   display: block;
      //   margin-bottom: 15px;
      // }

      .Button {
        // height: 40px;
        line-height: 34px;
        padding: 0 20px;

        @include media-query($mobile) {
          width: 100%;
        }
      }
    }
  }

  .Form--submitted {
    .Newsletter__success {
      display: block;

      @include media-query($mobile) {
        text-align: center;
      }

      &-message {
        font-size: 20px;
        // font-family: $font-family-2;
      }
    }

    .Form__input-group,
    .Form__submit-group {
      display: none;
    }
  }
}


// .Footer {
//   box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.7);

//   &__bottom {
//     margin-top: 0;
//     margin-left: 20px;
//     padding-top: 0;
//     text-align: left;

//     @include media-query($mobile) {
//       text-align: center;
//     }
//   }

//   &__copyright {
//     margin-bottom: 20px;

//     @include media-query($mobile) {
//       margin: 15px 0;
//     }
//   }
// }
