
.NavBar {
  @include grid {
    &__logo {
      @include grid-item(3);
    }

    &__secondary,
    &__icons,
    &__search {
      @include grid-item(1);
    }

    &--single-linklist {
      .NavBar__primary {
        @include grid-item(8);
      }
    }
  }
}

.MobileLogo {
  left: 10px;
  transform: none;
  transform: translateY(-50%);
}

.MobileBar__right {
  margin-right: 10px;

  .Button {
    margin-bottom: 4px;
  }
}

.template-page-quiz,
.template-page-thank-you {
  .NavBar__icons,
  .NavBar__primary {
    display: none;
  }

  .NavBar__logo {
    grid-column: span 12;
    text-align: center;

    &-image {
      width: 250px;
    }
  }

  .MobileBar__right {
    display: none;
  }

  .MobileLogo {
    left: 50%;
    transform: translate(-50%, -50%);

    &__image {
      width: 250px;
    }
  }
}
