.HeroCarousel {
  .Overlay {
    height: 100%;
    width: 64%;
    margin: 0 0 0 auto;
    position: relative;
    background-color: blue;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;

    @include media-query($mobile) {
      height: auto;
      width: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;      
    }

    &--left {
      .Overlay {
        &__content {
          padding: 0 80px 0 130px;

          @include media-query($mobile) {
            padding: 20px 20px 50px;
            text-align: center;
          }
        }
      }
    }

    &__content {
      @include media-query($mobile) {
        position: static;
        transform: none;
      }
    }
  }

  .HeroSlide {

    &__paragraph {
      @include media-query($mobile) {
        margin-top: 20px;
      }
    }

    &__buttons {
      @include media-query($mobile) {
        text-align: center;
      }
    }

    &__link {
      display: inline-block;
      vertical-align: top;
      line-height: 45px;
      margin: 20px 10px 0 10px;
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

// Needs to disable the style below inside of Infinite if want to use "crop" on mobile
// .HeroCarousel--crop .flickity-viewport {
//   height: 100% !important;
// }