@import '~@INF/styles';
@import '../../src/app/styles/variables';

.QuizProduct {
  text-align: left;

  &__preheading {
    text-transform: uppercase;
    color: $color-blue-1;
  }

  .Heading {
    margin: 0 0 120px;
    text-align: center;
  }

  .ProductOption {
    margin-bottom: 40px;

    &__name {
      margin-bottom: 12px;
    }

    .Button {
      margin: 0 20px 0 0;
      background-color: transparent;
      padding: 0;

      label {
        padding: 10px 45px;
        color: black;
      }
    }

    .Button--selected {
      border-color: $color-primary-1;

      label {
        color: $color-primary-1;
      }
    }
  }

  // .ProductOverview__quantity-add {
  //   .Button {
  //     margin: 0 20px;
  //   }
  // }
  .QuizProduct__cta {
    margin-right: 20px;
  }

  .ProductQuantity,
  .flickity-button {
    display: none;
  }
}
