@import '~@INF/styles';
@import '../../src/app/styles/variables';

.QuizProduct {
  &__preheading {
    text-transform: uppercase;
    color: $color-blue-1;
  }

  &__heading {
    margin: 0 0 120px;
  }

  .ProductOverview__grid {
    text-align: left;
  }

  .ProductOption {
    margin-bottom: 40px;

    &__name {
      margin-bottom: 12px;
    }

    .Button {
      margin: 0 20px 0 0;
      border-width: 1px;
      background-color: transparent;
      padding: 0;

      label {
        padding: 10px 45px;
        color: black;
      }
    }

    .Button--selected {
      border-width: 2px;
      border-color: $color-primary-1;

      label {
        color: $color-primary-1;
      }
    }
  }

  .ProductInfo__preheading {
    margin: 0;
    text-transform: uppercase;
    color: $color-primary-1;
  }

  .ProductHeading {
    &__price {
      color: $color-primary-1;
      font-family: $font-primary;
      font-size: 22px;
      font-weight: normal;
    }
  }

  // .ProductOverview__quantity-add {
  //   .Button {
  //     margin: 0 20px;
  //   }
  // }
  .QuizProduct__cta {
    margin-right: 20px;
  }

  .ProductQuantity,
  .flickity-button {
    display: none;
  }
}
