@import '~@INF/styles';
@import '../../src/app/styles/variables';

.QuizProduct {
  @include media-query($mobile) {
    margin-top: -50px;
  }

  &__preheading {
    text-transform: uppercase;
    color: $color-blue-1;

    @include media-query($mobile) {
      font-size: 16px;
    }
  }

  &__heading {
    margin: 0 0 120px;

    @include media-query($mobile) {
      margin-bottom: 30px;
      padding: 0;
    }
  }

  .Section__container {
    padding: 0;
  }

  .ProductOverview__grid {
    text-align: left;
  }

  .ProductOption {
    margin-bottom: 40px;

    &__name {
      margin-bottom: 12px;

      @include media-query($mobile) {
        text-align: center;
      }
    }

    .Button {
      margin: 0 20px 0 0;
      border-width: 1px;
      background-color: transparent;
      padding: 0;

      @include media-query($mobile) {
        margin: 0 10px;
      }

      label {
        padding: 10px 45px;
        color: black;
      }
    }

    .Button--selected {
      border-width: 2px;
      border-color: $color-primary-1;

      label {
        color: $color-primary-1;
      }
    }
  }

  .ProductShortDescription {
    max-height: 150px;
    text-overflow: ellipsis;
  }

  .ProductOptions {
    border-top: 1px solid $color-light-gray;
  }

  .ProductOption__variants.ProductOption__variants--list {
    @include media-query($mobile) {
      display: flex;
      justify-content: center;
    }
  }

  .ProductInfo__preheading {
    margin: 0;
    text-transform: uppercase;
    color: $color-primary-1;
  }

  .ProductHeading {
    &__price {
      color: $color-primary-1;
      font-family: $font-primary;
      font-size: 22px;
      font-weight: normal;
    }
  }

  // .ProductOverview__quantity-add {
  //   .Button {
  //     margin: 0 20px;
  //   }
  // }
  .QuizProduct__cta {
    margin-right: 20px;
  }

  .ProductImages__thumbs,
  .ProductQuantity,
  .flickity-button {
    display: none;
  }
}
