@import '~@INF/styles';
@import '../../../styles/variables.scss';

.Question10 {
  margin: 0 auto;
  max-width: 890px;



  .Checkbox {
    &__control {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    label {
      position: relative;
      margin: 0 auto;
      border: 2px solid $color-light-gray;
      border-radius: 12px;
      background: #fff;
      padding-left: 100px;
      width: 100%;
      height: 90px;
      line-height: 90px;

      &::before {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        border: 0;
        width: 70px;
        height: 70px;
      }
    }

    input {
      &:focus + label {
        border-color: $color-gray;
        box-shadow: 0 0 12px $color-light-gray;
      }

      &:checked + label {
        border-color: $color-primary-1;

        &::before {
          animation: none;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
