@import '~@INF/styles';
@import '../../../styles/variables.scss';

.Question10 {
  @include media-query($mobile) {
    margin-top: -50px;
  }

  // Ordering of cells
  &__subheading {
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .Checkbox--Fever {
    order: 1;
  }

  .Checkbox--Shortness {
    order: 2;

    @include media-query($mobile) {
      order: 3;
    }
  }

  .QuizTemp {
    order: 3;

    @include media-query($mobile) {
      order: 2;
    }
  }

  .Checkbox--Joint {
    order: 4;
  }

  .Checkbox--Exhausted {
    order: 5;
  }

  .Checkbox--Sinus-congestion {
    order: 6;
  }

  .Checkbox--Runny {
    order: 7;
  }

  .Checkbox--Nasal-congestion {
    order: 8;
  }

  .Checkbox--Mucus {
    order: 9;
  }

  .Checkbox--Headache {
    order: 10;
  }

  .Checkbox--Sore {
    order: 11;
  }

  .Checkbox--Cough {
    order: 12;
  }

  .Checkbox--Sneezing {
    order: 13;
  }

  .Checkbox {
    &__control {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    label {
      position: relative;
      margin: 0 auto;
      border: 2px solid $color-light-gray;
      border-radius: 12px;
      background: #fff;
      padding-left: 100px;
      width: 100%;
      height: 90px;
      line-height: 90px;

      &::before {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        border: 0;
        width: 70px;
        height: 70px;
      }
    }

    input {
      &:focus + label {
        border-color: $color-gray;
        box-shadow: 0 0 12px $color-light-gray;
      }

      &:checked + label {
        border-color: $color-primary-1;
        color: $color-primary-1;

        &::before {
          animation: none;
        }

        &::after {
          display: none;
        }
      }

      .State--visibleFocus &:focus + label {
        outline: 5px solid blue !important;
      }
    }
  }
}
