@import '~@INF/styles';

.Question10 {
  margin: 0 auto;
  max-width: 690px;

  .Checkbox {
    position: relative;
    margin: 0 auto;
    background: #fff;
    width: 150px;
    height: 150px;

    @include media-query($mobile) {
      width: 140px;
      height: 140px;
    }

    label {
      position: absolute;
      top: -18px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      padding: 95px 5px 0;
      width: 150px;
      height: 150px;
      text-align: center;
      line-height: 20px;
      letter-spacing: 0.04em;

      @include media-query($mobile) {
        width: 140px;
        height: 140px;
      }

      &::before {
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0;
        width: 70px;
        height: 70px;
      }
    }

    input {
      &:checked + label::before {
        z-index: initial;
        border-radius: 50%;
        background-color: #006468;
        padding-top: 25px;
        color: #fff;
        font-family: 'Font Awesome 5 Pro';
        font-size: 22px;
        font-weight: 400;
        content: '\f00c';
      }

      &:checked + label {
        border: 2px solid #006468;
      }
    }
  }
}
