@import '~@INF/styles';

.CollectionGrid {
  // Add your styles here

  transform: translateZ(-100px);

  .Overlay__content {
    @include media-query($mobile) {
      padding: 0;
    }
  }

  &.Grid {
    padding: 0 20px;
  }
}
