@import '~@INF/styles';

.QuizButtons {
  padding: 40px 0;

  @include media-query($mobile) {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #cde5f2;
    padding: 35px 0;
    width: 100%;
  }
}
