.Module-Image2Up {
  .Module-Image2Up {
    &__Columns {
      @include grid(12, 40px, 0);
      @include media-query($tablet-down) {
        @include grid(12, 10px, 0);
      }
      @include media-query($mobile) {
        @include grid(12, 0, 20px);
      }
    }
    &__Column {
      @include grid-item(6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    &__CaptionContent {
      text-align: center;
    }
    &__Button {
      margin: 20px 10px;
    }
    &__Block {
      &--Image {
        width: 100%;
        background-size: cover;
        background-position: center;
        img {
          display: none;
        }
      }
    }
  }
}