.Module-Collection {
  .Module-Collection {
    &__Content {
      text-align: center;
    }
  }

  .ProductTile {
    margin: $grid-gutter $grid-gutter / 2;
    padding: 20px;
    width: var(--tile-width);
  }

  .ProductTile__image {
    img {
      display: block;
    }
  }
}