.Module-Collection {
  .Module-Collection {
    &__Content {
      text-align: center;
    }
  }

  // .ProductTile {
  //   margin: $grid-gutter $grid-gutter / 2;
  //   padding: 20px;
  //   padding-bottom: 90px;
  //   width: var(--tile-width);
  //   border-radius: 5px;

  //   @include media-query($mobile) {
  //     padding-bottom: 20px;
  //   }

  //   &:hover {
  //     box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);

  //     @include media-query($mobile) {
  //       box-shadow: none;
  //     }
  //   }
  
  //   &__image {
  //     position: static;
  
  //     img {
  //       display: block;
  //     }
  //   }

  //   &__title {
  //     a,
  //     a:visited,
  //     a:active {
  //       color: $color-primary-3;
  //       font-weight: 400;
  //     }
  //   }

  //   &__price {
  //     color: $color-primary-1;
  //     font-family: $font-primary;
  //     font-size: 18px;

  //     .Price {
  //       &__compare-at {
  //         color: #aaaaaa;
  //         font-size: 15px;
  //       }

  //       &__on-sale {
  //         color: red;
  //       }
  //     }
  //   }
  // }

  .flickity {
    &-button {
      background-color: $color-primary-1;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }

      &-icon {
        fill: $color-secondary-1;
      }
    }
  }
}