[data-cms-module] {
  position: relative;
}

[data-module-bg] {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;

  .Module__Bg {
    &--dual {
      @include clearfix;
    }

    &--full {
      width: 100%;
      height: 100%;
    }

    &--split {
      display: inline-block;
      width: 50%;
      height: 100%;

      &[data-split='left'] {
        float: left;
      }

      &[data-split='right'] {
        float: right;
      }
    }
  }

  [data-type='image'] {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  [data-image-hide-desktop] {
    @include mobile-only;
  }

  [data-image-hide-mobile] {
    @include tablet-up-only;
  }
}

.rte .CMS-Module {
  transform: translateZ(-100px);
  margin: 0 auto;
  max-width: 2560px;

  img {
    margin: 0;
  }

  .textAlignment {
    &__left {
      text-align: left;

      h2,
      h3,
      h4 {
        padding: 0;
      }
    }

    &__center {
      text-align: center;
    }

    &__right {
      text-align: right;
    }

    @include media-query($tablet-down) {
      &--mobile__left {
        text-align: left;

        h2,
        h3,
        h4 {
          padding: 0;
        }
      }

      &--mobile__center {
        text-align: center;
      }

      &--mobile__right {
        text-align: right;
      }
    }
  }

  .Alignment {
    &__Target {
      display: table;
      width: 100%;
      height: 100%;
    }

    &__Node {
      display: table-cell;
    }

    &__top {
      &-left {
        .Alignment__Node {
          vertical-align: top;
          text-align: left;
        }
      }

      &-center {
        .Alignment__Node {
          vertical-align: top;
          text-align: center;
        }
      }

      &-right {
        .Alignment__Node {
          vertical-align: top;
          text-align: right;
        }
      }
    }

    &__center {
      &-left {
        .Alignment__Node {
          vertical-align: middle;
          text-align: left;
        }
      }

      &-center {
        .Alignment__Node {
          vertical-align: middle;
          text-align: center;
        }
      }

      &-right {
        .Alignment__Node {
          vertical-align: middle;
          text-align: right;
        }
      }
    }

    &__bottom {
      &-left {
        .Alignment__Node {
          vertical-align: bottom;
          text-align: left;
        }
      }

      &-center {
        .Alignment__Node {
          vertical-align: bottom;
          text-align: center;
        }
      }

      &-right {
        .Alignment__Node {
          vertical-align: bottom;
          text-align: right;
        }
      }
    }
  }

  &__Image {
    &--max-height {
      position: relative;
      width: 100%;
      height: 100vh;
      max-height: 600px;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        pointer-events: none;
      }
    }
  }
}
